---
---
@charset 'utf-8';

header,
footer {
	text-align: center;
}

section {
	width: 49em;
}

article {
	border: 0.5;
}

.logo {
	width: 7em;
	height: 7em;
}

.subline {
    font-size: .8em;
    color: #555555;
	margin-left: 0;
	li {
		margin-right: 1em;
		display: inline;
		list-style: none;
	}
}




