---
layout: default
title: "Andrey Kuleshov's personal blog"
description: |
  Some description
keywords:
  - kotlin
  - diktat
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/icons.css"/>

<article itemscope="" itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
  <div class="front" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
    <h1>
      <a href="{{ post.url }}">
        <span itemprop="name headline mainEntityOfPage">{{ post.title }}</span>
      </a>
    </h1>
    <ul class="subline">
      <li>
        <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date_to_string }}
        </time>
      </li>

      <li>
        <time itemprop="author">
          <a href="https://github.com/{{ post.author }}">@{{ post.author }}</a>
        </time>
      </li>

      <li>
        {% capture words %}
        {{ post.content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains '-' %}
        {{ words | plus: 180 | divided_by: 180 | append: ' minutes to read' }}
        {% endunless %}
      </li>

      <li>
        {{ post.content | number_of_words | append: ' words' }}
      </li>

      <li class="unprintable">
        <a href="{{ site.url }}{{ post.url }}#disqus_thread" itemprop="discussionUrl">
          Comments
        </a>
        <i class='fa fa-comments'></i>
      </li>
    </ul>

    <div class="main" itemprop="description">
      {{ post.excerpt }}
    </div>
    <p>
      <a href="{{ post.url }}" itemprop="url">
        Continue...
      </a>
    </p>
  </div>
{% endfor %}

  <div class="wrapper">
    <footer>
      <div class="pagination">
          {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a href="/"><i class="fa fa-backward"></i></a>
          {% else %}
          <a href="/p/{{ paginator.previous_page }}"><i class="fa fa-backward"></i></a>
          {% endif %}
          {% else %}
          <span class="mute"><i class="fa fa-backward"></i></span>
          {% endif %}

          page {{ paginator.page }} of {{ paginator.total_pages }}

          {% if paginator.next_page %}
          <a href="/p/{{ paginator.next_page }}"><i class="fa fa-forward"></i></a>
          {% else %}
          <span class="mute"><i class="fa fa-forward"></i></span>
          {% endif %}
      </div>
    </footer>
  </div>


</article>

